<div class="fb-header">
  <div class="container">
    <h1>Firmata Builder</h1>
    <h4>Generate a custom Firmata sketch based on a selection of Firmata features.</h4>
  </div>
</div>

<div class="container">

  <h3>How to use Firmata Builder</h3>

  <p>Make sure you first have the latest version of <a target="_blank" href="https://github.com/firmata/ConfigurableFirmata">ConfigurableFirmata</a> installed in your <code>Arduino/libraries/</code> folder. The latest version is {{this.version}}.</p>

  <p>Next, select how you will connect to your client application. Typically this is a Serial connection at 57600 baud. Ethernet is also supported for a variety of boards and shields. Additional connectiion types (such as Wi-Fi) will be added in the future.</p>

  <p>Once you have the connection type configured, select the core features and any contributed features your application requires.</p>

  <p>Finally, name your file and click the Build and Download button and your custom Firmata will be downloaded.</p>

  <div class="alert alert-warning" role="alert"><small>
    Only selet the features you need for your application. Selecting all features on this form will result in poor performance on many boards and in some cases will consume more memory than your board provides.</small>
  </div>

  <hr>

  <form method="post" action="/">

    <h3>Configure connection</h3>
    <p>Select and configure the connection to your Firmata client. Serial, 57600 baud is the most common configuration. Ethernet is also supported.</p>

    <div class="row">
      <div class="col-xs-3">
        <label for="connectionType">Connection type</label>
        <select  id="connectionType" name="connectionType" class="form-control">
          <option value="serial">Serial</option>
        </select>
      </div>
      <div id="connectionConfig">
        <div class="col-xs-2">
          <div class="form-group">
            <label for="baud">Baud</label>
            <input type="text" class="form-control" id="baud" name="baud" value="57600">
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group features">
      <h3>Core features</h3>
      <p>Core features are included in the ConfigurableFirmata library and do not require any additional downloads.</p>
      <div class="row">
        <div class="col-xs-12">
          {{#each coreFeatures}}
            <div class="checkbox">
              <label>
                <input type="checkbox" id="{{this.instanceName}}" name="feature-{{this.className}}"> {{this.className}} <a href="#" data-toggle="tooltip" data-placement="right" title data-original-title="{{this.description}}">(?)</a>
              </label>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group features">
      <h3>Contributed features</h3>
      <p>Contributed features and their dependencies and not included in the ConfigurableFirmata library and must be downloaded separately and installed in your <code>Arduino/libraries/</code> folder.</p>

{{!--       <div class="alert alert-warning" role="alert"><small>
        Only select contributed features if you need them for your application. Some contributed features may not play well with one another or with certain core features (for example if 2 features use the same timer on the microcontroller).</small>
      </div> --}}

      <div class="row">
        <div class="col-xs-12">
          {{#each contributedFeatures}}
            <div class="checkbox">
              <label>
                <input type="checkbox" id="{{this.instanceName}}" name="feature-{{this.className}}"> <a target="_blank" href="{{this.url}}">{{this.className}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="sr-only">Download</span></a>
              </label>
            </div>
            <div class="contribFeatureBlock">
            <p>{{this.description}}</p>
            <p>Dependencies:
              {{#each this.dependencies}}
                <a target="_blank" href="{{this.url}}">{{this.className}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="sr-only">Download</span></a>
              {{/each}}
            </p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <h3>Download</h3>
      <p>Name your custom Firmata and click to download. Once downloaded, unzip and copy the folder to your Arduino sketch folder or anywhere else on your system. Then compile and upload the file just like you would any other Arduino sketch.</p>

      <div class="alert alert-danger feature-alert" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        You must select at least one feature.
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label class="sr-only" or="filename">Filename:</label>
          <input type="text" class="form-control" name="filename" id="filename" placeholder="filename">
        </div>
        <button class="btn btn-primary" type="submit">Build and Download</button>
      </div>
    </div>

  </form>

</div>
