<div class="fb-header">
  <div class="container">
    <h1>Firmata Builder</h1>
    <h4>Generate a custom Firmata sketch based on a selection of Firmata features.</h4>
  </div>
</div>

<div class="container">

  <h3>How to use Firmata Builder</h3>

  <p>Make sure you first have the latest version of <a target="_blank" href="https://github.com/firmata/ConfigurableFirmata">ConfigurableFirmata</a> installed in your sketchbook libraries folder (typically <code>/Documents/Arduino/libraries/</code> for Mac or Linux or <code>\My Documents\Arduino\libraries\</code> for Windows). The latest version is <a href="{{this.version.url}}">{{this.version.tag}}</a>.</p>

  <p>Next, select how you will connect to your client application. Typically this is a Serial connection at 57600 baud, but Wi-Fi and Ethernet are also available for certain boards and shields. BLE will be added in the future.</p>

  <p>Once you have the connection type configured, select the core features and any contributed features your application requires.</p>

  <p>Finally, name your file and click the Build and Download button and your custom Firmata will be downloaded.</p>

  <hr>

  <form method="post" action="/">

    <h3>Configure connection</h3>
    <p>Select and configure the connection to your Firmata client. Serial, 57600 baud is the most common configuration.</p>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="connectionType">Connection type</label>
          <select  id="connectionType" name="connectionType" class="form-control">
            <option value="serial">Serial</option>
            <option value="wifi">Wi-Fi</option>
            <option value="ethernet">Ethernet</option>
          </select>
        </div>
      </div>

      <div class="col-sm-9">

        {{> serial}}

        {{> ethernet}}

        {{> wifi}}

        <div class="row">
          <div id="configError" class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <span class="errorText"></span>
            </div>
          </div>
        </div>

      </div> <!-- end 9 column span -->
    </div> <!-- end 12 column row -->

    <hr>

    <div class="form-group features">
      <h3>Core features</h3>
      <p>Core features are included in the ConfigurableFirmata library and do not require any additional downloads.</p>
      <div class="row">
        <div class="col-sm-12">
          {{#each coreFeatures}}
            <div class="checkbox">
              <label>
                <input type="checkbox" id="{{this.instanceName}}" name="feature-{{this.className}}"> {{this.className}} <a href="#" data-toggle="tooltip" data-placement="right" title data-original-title="{{this.description}}">(?)</a>
              </label>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group features">
      <h3>Contributed features</h3>
      <p>Contributed features and their dependencies are not included in the ConfigurableFirmata library and must be downloaded separately and installed in your sketchbook libraries folder.</p>

      <div class="row">
        <div class="col-sm-12">
          {{#each contributedFeatures}}
            <div class="checkbox">
              <label>
                <input type="checkbox" id="{{this.instanceName}}" name="feature-{{this.className}}"> <a target="_blank" href="{{this.url}}">{{this.className}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="sr-only">Download</span></a>
              </label>
            </div>
            <div class="contrib-feature-block">
            <p>{{this.description}}</p>
            <p>Dependencies:
              {{#each this.dependencies}}
                <a target="_blank" href="{{this.url}}">{{this.className}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><span class="sr-only">Download</span></a>
              {{/each}}
            </p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="alert alert-warning" role="alert"><small>
      Tip: Only select the features you regularly use. Selecting all features on this form may result in poor performance or consume more memory than your board provides. Faster boards with more memory such as Arduino Zero, Arduino Due, Teensy 3.1/3.2, etc are recommended if you need to use several features simultaneously.</small>
    </div>

    <hr>

    <div class="form-group">
      <h3>Download</h3>
      <p>Name your custom Firmata and click to download. Once downloaded, unzip and open the enclosed .ino file in the Arduino IDE. Then compile and upload the file just like you would any other Arduino sketch.</p>

      <div id="submitError" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span class="errorText"></span>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="sr-only" or="filename">Filename:</label>
            <input type="text" class="form-control" name="filename" id="filename" placeholder="filename">
          </div>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary btn-block" type="submit">Build and Download</button>
        </div>
      </div>
    </div>

  </form>

  <div class="alert alert-warning fb-issues" role="alert"><small>
    If you encounter any issues such as a generated sketch not compiling, please report it <a href="https://github.com/firmata/firmata-builder/issues">here</a> and paste in the text from the generated .ino file and list the selections you made on this form.</small>
  </div>

</div>
